<mat-toolbar color="primary">
    <div dir="rtl" id="tool">דירות לבידוד</div>

  
</mat-toolbar>
<select  class="select" (change)="onChange($event.target.value)">
    <option value="" disabled selected>	 בחר איזור &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;   &#x25bc;</option>
    <option value="">כל הארץ</option>
    <option value="Tel-Aviv">תל אביב</option>
    <option value="Jerusalem">ירושלים</option>
    <option value="Haifa">חיפה</option>
    <option value="Center">מרכז</option>
    <option value="North">צפון</option>
    <option value="South">דרום</option>
    <option value="Shfela">שפלה</option>
    <option value="HaSharon">השרון</option>

</select>
    

    <router-outlet></router-outlet>